* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#wrapper {}

/* ---------------header__menu */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 46px;
    background-color: #000;
}

#header .nav-menu {
    /* float: left */
}

#header .nav-menu li {
    position: relative;
    display: inline-block;
}

#header .nav-menu>li>a {
    color: #fff;
    text-transform: uppercase;
}

#header .nav-menu li a {
    font-size: 15px;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header .nav-menu li:hover>a {
    background-color: #ccc;
    color: #000;
}

#header .nav-menu li:last-child:hover .sub-menu {
    display: block;
}

#header .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#header .sub-menu li {
    display: block;
}

#header .sub-menu li a {
    padding-left: 16px;
    color: #000;
}

/* ------------header__search */
#header .header__search {
    position: absolute;
    right: 0;
    top: 0;
}

#header .header__search i {
    color: #fff;
    line-height: 46px;
    padding: 0 24px;

}

#header .header__search i:hover {
    background-color: #f44336;
    cursor: pointer;
}

/* ---------slider */
#slider {
    /* display: none */
    position: relative;
}

#slider .text-content {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 47px;
    width: 100%;
}

#slider .text-content .text-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* --------------------content__band */
#content {}

#content .container {
    width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

#content .content__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

#content .content__slogan {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin-top: 25px;
    margin-bottom: 20px;
}

#content .band-about {
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}

#content .band__img {
    display: flex;
    padding: 32px 0;
    justify-content: space-around;
}

#content .band__img .band-item {
    flex-basis: 200px;
    text-align: center;
}

#content .band-item img {
    width: 80%;
    border-radius: 5px;
}

#content .band-item p {
    margin: 20px 0;
}

/* --------------content__tour */
#content #content__tour {
    background-color: #000;
}

#content #content__tour .content__title,
#content #content__tour .content__slogan {
    color: #fff;
}

#content .tour__months {
    background-color: #fff;
    margin-top: 40px;
}

#content .tour__months li {
    padding: 8px 16px;
    color: #757575;
    border: 1px solid #ddd;
    line-height: 1.5;
}

#content .tour__months li:nth-child(2) {
    border: none;
}

#content .tour__months span {
    margin-left: 20px;
    color: #fff;
    background-color: #f44336;
    padding: 3px 8px;
}

#content .tour__months li:nth-child(3) span {
    float: right;
    background-color: #000;
    border-radius: 50%;
    padding: 0 8px;
}

#content .tour__city {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

#content .tour-item {
    flex-basis: 245px;
    background-color: #fff;
    color: #000;
}

#content .tour-item .item-content {
    padding: 16px;
}

#content .tour-item img {
    width: 100%;
}

#content .tour-item .tour-name {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}

#content .tour-item .tour-date {
    opacity: 0.6;
}

#content .tour-item .tour-desc {
    margin: 15px 0;
}

#content .tour-item .tour-btn {
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    display: inline-block;
}

#content .tour-item .tour-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* ----------------content__contact */
#content__contact {}

#content__contact .contact__info {
    display: flex;
    padding: 32px 0;
}

#content__contact .contact-address {
    font-size: 18px;
}

#content__contact .contact-address i {
    width: 35px;
}

#content__contact .contact__info .item {
    flex: 1;
}

#content__contact .contact-form .form-flex {
    display: flex;
    justify-content: space-between;
}

#content__contact .contact-form input {
    padding: 8px;
    border: 1px solid #ddd;
    line-height: 1.7;
}

#content__contact .contact-form input.message {
    width: 100%;
    margin-top: 10px;
}

#content__contact .contact-form button {
    float: right;
    margin-top: 20px;
    padding: 12px 16px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

#content__contact .contact-form button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#content__contact .contact-map img {
    width: 100%;
}

/* ---------------footer */
#footer {
    padding: 64px 0;
    text-align: center;
}

#footer ul li {
    display: inline-block;
}

#footer ul li i {
    font-size: 25px;
    opacity: 0.6;
}

#footer ul li i:hover {
    opacity: 0.4;
}

#footer p {
    opacity: 0.6;
    margin: 15px 0;
}