*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadPro-Light.otf);
}

body {
    font-family: Myriad Pro;
    color: #5e524d;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section__title {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
}
/* -------------- header */ 

.header__top .language ul {
    display: flex;
    justify-content: flex-end;
}

.language ul li a {
    padding: 0 10px;
    border-right: 1px solid ;
    color: #5e524d;
    font-size: 12px;
}

.language ul li:last-child a {
    border-right: none;
}

/* --------header bottom */
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin-right: -25px;
}

.nav-menu li a {
    color: #5e524d;
    font-size: 16px;
    font-weight: 600;
    padding: 0 35px;
}

.nav-menu li a:hover {
    color: #83a92c;
}

.mobile-menu {
    float: right;
    display: none;
}

.mobile-menu .bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s;
    border-radius: 10px;
}

/* ----------- banner ----------- */
#banner {
    position: relative;
}

.banner__image img {
    width: 100%;
    display: block;
}

.banner__text {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    width: 540px;
}

.banner__text-title {
    font-size: 79px;
    font-weight: 100;
    margin-bottom: 20px;
}

.banner__text-desc {
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.banner__contentImage .board {
    position: absolute;
    bottom: -25px;
    right: 130px;
    z-index: 1;
}

.banner__contentImage .lemon {
    position: absolute;
    bottom: 10px;
    right: 450px;
    z-index: 3;
}

.banner__contentImage .jar {
    position: absolute;
    bottom: 10px;
    right: 250px;
    z-index: 2;
}

.banner__text-button button {
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 18px;
    width: 172px;
}

.banner__text-button button:hover {
    cursor: pointer;
}

.btn__readMore {
    background-color: transparent;
    border: 1px solid #fff;
    margin-right: 10px;
}
.btn__buyNow {
    background-color: #f18a77;
    border: 1px solid #f18a77;
}

.chevron i{
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.chevron i:first-child {
    left: 150px;
}

.chevron i:last-child {
    right: 150px;
}

/* ------------ welcome */
#welcome {
    background-image: url(../images/bg.png);
    padding: 70px 0;
}

.welcome__logo {
    text-align: center;
    margin-bottom: 50px;
}

.welcome__description {
    text-align: center; 
    width: 65%;
    margin: 50px auto;

}

.welcome__description p {
    line-height: 1.5;
    font-size: 20px;
}

.welcome__button {
    text-align: center;
}

.welcome__button button:hover {
    cursor: pointer;
}

.btn__ourProduct {
    text-align: center;
    font-size: 18px;
    padding: 12px 30px;
    color: #fff;
    background-color: #f18a77;
    text-transform: uppercase;
    border: 1px solid #f18a77;
    margin-right: 10px;
}

.btn__moreAbout {
    text-align: center;
    font-size: 18px;
    padding: 12px 25px;
    color: #83a92c;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #83a92c;
}

/* --------feature */

#feature {
    background-image: url(../images/feature/bg-feature.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 250px;
    padding-bottom: 100px;
}

.feature__text {
    margin-bottom: 50px;
}

.feature__text h2 {
    margin-bottom: 30px;
}

.feature__text p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    opacity: 0.7;
}

.feature__product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -30px;
}

.feature__product-item {
    width: calc(25% - 30px);
    text-align: center;
    margin-left: 30px;
    /* display: flex;
    flex-direction: column; */
}

.feature__product-item .product__image {
    margin-bottom: 30px;
}

.feature__product-item img {
    height: 240px;
}

.feature__product-item h4 {
    font-size: 18px;
    margin-top: 30px;
}

.feature__btn {
    text-align: center;
    margin-top: 80px;
}

.feature__btn button {
    text-align: center;
    font-size: 18px;
    padding: 12px 25px;
    color: #fff;
    background-color: #f18a77;
    text-transform: uppercase;
    border: 1px solid #f18a77;
}

.feature__btn button:hover {
    cursor: pointer;
}

/* ---------health news */
#news {
    background-image: url(../images/bg.png);
    position: relative;
    padding-top: 90px;
    padding-bottom: 70px;
}

.news__image img {
    position: absolute;
    top: -110px;
    right: 50px;
    z-index: 10;
}

#news h2 {
    margin-bottom: 50px;
}

.news__health {
    display: flex;
    position: relative;
    z-index: 11;
    justify-content: space-evenly;
}

.news__health-item {
    margin: 0 15px;
    width: 33.33%;
    padding: 40px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.news__title {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
}

.news__health-item h3 a {
    color: #5e524d;
    font-size: 18px;
}

.news__health-item span {
    font-size: 14px;
    opacity: 0.5;
    display: block;
    margin: 5px 0;
    margin-top: auto;
}

.news__health-item p {
    font-size: 14px;
    opacity: 0.8;
    margin: 10px 0;
    text-align: justify; 
    line-height: 1.5;
}

.news__health-item .btn-readMore {
    color: #83a92c;
}

/* ----------contact form ---------- */
#contact {
    color: #fff;
    background: linear-gradient(to top, rgba(131, 169, 44, 0.85), rgba(131, 169, 44, 0.85)), url(../images/bg-contact.png);
    padding: 70px 0;
}

.contact__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 50px auto 0;
}

.contact__info span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.contact__info>p {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact__info p a {
    color: #fff;
}

.contact__info-social {
    display: flex; 
    justify-content: space-between;
    margin-top: 10px;
}

.contact__info-social a {
    color: #fff;
}

.contact__info-social .social__fb i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3a589b;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.contact__info-social .social__yt i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cf3427;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.contact__info-social p {
    display: inline-block; 
}

.contact__form {
    margin-left: 150px;
}

.contact__form label {
    margin-bottom: 15px;
    display: block;
    font-weight: 600;
}

.contact__form input:not([type="submit"]) {
    padding: 8px 15px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

.contact__form input[type="submit"] {
    padding: 10px 40px;
    text-transform: uppercase;
    background-color: #5e524d;
    color: #fff;
    letter-spacing: 1px;
    float: right;
    margin-top: 10px;
    border: none;
}

.contact__form input[type="submit"]:hover {
    cursor: pointer;
}

.contact__form textarea {
    width: 100%;
    resize: none;
    padding: 10px 15px;
    outline: none;
}

/* ----------------footer ----------------*/
#footer {
    padding: 40px 0;
}

.footer__copyright {
    text-align: center;
    color: #000;
    opacity: 0.7;
    font-size: 14px;
}

.footer__menu ul {
    display: flex;
    justify-content: center;
}

.footer__menu ul li a {
    color: #000;
    opacity: 0.7;
    font-size: 14px;
    padding: 0 5px;
    border-right: 1px solid #000;
    text-decoration: underline;
}

.footer__menu ul li:last-child a {
    border-right: none;
}

/* ------------------------------ responsive tablet ------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100%;
        display: block;
    }

    /* header menu */
    .header__bottom {
        flex-direction: column;
        align-items: center;
    }
    .nav-menu li a {
        padding: 0 25px;
        line-height: 50px;
    }

    /* banner */
    /* .banner__contentImage .board {
        width: 450px;
        bottom: -15px;
        right: 50px;
    }

    .banner__contentImage .lemon {
        width: 150px;
        right: 250px;
    }

    .banner__contentImage .jar {
        width: 150px;
        right: 140px;
    } */

    .banner__contentImage {
        display: none;
    }

    .chevron i:first-child {
        left: 50px;
    }

    .chevron i:last-child {
        right: 50px;
    }

    .banner__text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner__text h2 {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .banner__text-button button {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* feature product */
    #feature .container {
        padding: 0 20px;
    }

    .feature__product-item {
        align-self: flex-end;
    }

    .feature__product-item img {
        width: 100%;
        height: auto;
    }

    /* health news */
    .news__image img {
        width: 200px;
        top: -90px;
    }

    #news .container {
        padding: 0 20px;
    }

    .news__health {
        margin: 0 -10px;
    }

    .news__health-item {
        margin: 0 10px;
        width: calc(33.33% - 20px);
        padding: 40px 20px;
    }
}

/* ----------------- responsive mobile ------------------------*/

@media (max-width: 767px) {
    .container {
        width: 100%;
        display: block;
    }

    .header__bottom {
        padding: 0 20px;
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 126px;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        background-color: #83a92c;
        width: 100%;
        transition: all 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li a {
        color: #fff;
        padding: 20px;
        display: block;
        letter-spacing: 2px;
    }

    .nav-menu li a:hover {
        color: #5e524d;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner__contentImage {
        display: none;
    }

    .banner__text {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .banner__text h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .banner__text p {
        display: none;
    }

    .banner__text button {
        font-size: 14px;
        width: 130px;
        padding: 8px 15px;
    }

    .chevron i:first-child {
        left: 10px;
    }

    .chevron i:last-child {
        right: 10px;
    }

    .section__title {
        font-size: 35px;
        font-weight: 600;
    }

    .welcome__description {
        width: 90%;
    }

    .welcome__button button {
        padding: 12px;
    }

    /* feature product */
    #feature {
        padding-top: 100px;
    }

    .feature__text p {
        width: 100%;
        padding: 0 10px;
    }

    .feature__product {
        flex-direction: column;
        margin: 0 20px;
    }

    .feature__product-item {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
    }

    /* news health */
    .news__image img {
        width: 150px;
        top: -60px;
        right: 10px;
    }

    .news__health {
        flex-direction: column;
        margin: 0 20px;
    }

    .news__health-item {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    /* contact form */
    .contact__content {
        flex-direction: column-reverse;
        width: 80%;
    }

    .contact__form {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .social__yt {
        margin-right: 100px;
    }

    .footer__menu li a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}